/* connexion */

#formulaire {
    width: 35%;
    margin: auto;
}
#formulaire p {

    font-size: 30px;
    color: white;

}

#connexion {
    border: 2px solid white;
    padding:10px;
}

.Erreur {
  
    text-align: center;
    font-size: 30px;
}

#envoyer {
    text-align: right;
    margin-left: 520px;
    padding:5px;
}
/* ajout employe*/

h2  {
    color: white;
    text-align: center;
    padding-top: 50px;
    
}

.formulaire {overflow:hidden;}

/* ajout intervention */

h1  {
    color: white;
    text-align: center;
    padding-top: 50px;
    
}

.ajout_intervention {
    overflow:hidden;
}

#ajout_intervention {
width: 15%;
margin: auto;
  color: white;

}

/* liste itervention */

#liste_inter {

display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 70px 40px 70px;

}

#liste_inter a {

padding:10px;
border-radius:15px;
background-color: white;
text-decoration: none;
color:black;
font-size:20px;

}

#liste_inter p {
  font-size:35px;
}


table {
  width:93%;
  margin:auto;
  text-align: center;
  color:#bdbdbd;
  border-collapse: collapse;
}

table th {
  font-size:30px;
}

table td {
  font-size:20px;
  padding: 10px 0;
}

table tr {
  border:2px solid white;
}

table tr td div a {
  padding:5px 25px;
  border-radius:20px;
  background-color: white;
  text-decoration: none;
  color:black;
}
/* ajout intervention */

h1 {

    color: white;
    text-align: center;
    padding-top: 50px;
}
p {
    color: white;
}

/* edition employe */

h3{

    color: white;
}
div.col-10 {
  color: white;
}
/*liste intervention */

a {

  color:orange;
  padding:50px;
  font-size: 40px;
  
  
}

